* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.background-container { 
  margin: 0 auto;
  height: 75vh;
  width: 75vw;
  background-image: linear-gradient(blue, black);
  border: 3px solid white;
  border-radius: 5px;
}

h1 {
  color: white;
}


.card {
  display: flex;
  gap: 10px;
  margin: 10px;
}

.card p {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
}

.container-char {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  /* border: 1px solid black; */
}

.container-char-meta {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
}

.container-char span {
  font-weight: bold;
  font-size: 1.3rem;
}

.author {
  margin: 0;
  color: white;
  font-size: 1.5rem;
}
.char-meta {
  font-weight: bold;
  color: #00E6E6;
  /* border: 1px solid orange;*/
}

.container-char-level-limit {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  justify-content: center;
}

.level,
.limit {
  width: 150px;
  height: 13px;
  background-color: #565656;
  box-shadow: 1px 1px 1px black; 
  border: 1px solid white;
}

.level-bar,
.limit-bar {
  height: 11px;
}

.level-bar {
  width: 50%;
  background-image: linear-gradient(#EB9A9A, #B26363);
}

.limit-bar {
  width: 50%;
  background-color: aliceblue;
}

.level-text {
  margin: 0;
}

.hp-bar,
.mp-bar
{
  height: 3px;
  width: 100px;
  background-color: black;
}

.hp-bar {
  background-image: linear-gradient(#0689F2, #B1BCC1);
}

.mp-bar {
  background-image: linear-gradient(#0AE479, #B1BCC1);
}

.parent-container-mp,
.parent-container-hp {
  display: flex;
  justify-content: space-between;
}

.container-mp,
.container-hp {
  /* border: 1px solid black; */
  text-align: right;
}


.character-details {
  display: flex;
  flex-direction: column;
}

.bars {
  display: flex;
  gap: 10px;
}
