:root {
  --primary-background-color: hsl(0, 0%, 0%);
  --primary-font-color: hsl(0, 0%, 100%);
  --primary-background-gradient: linear-gradient(blue, black)
}
* {
  box-sizing: border-box;
  /* border: 1px solid #000; */
}

body {
  background-color: var(--primary-background-color);
}

h1 {
  color: var(--primary-font-color);
}

img {
  height: 7rem;  
}

.background-container { 
  margin: 0 auto;
  padding-bottom: 50%;
  max-width: 75vw;
  background-image: var(--primary-background-gradient);
  border: 3px solid white;
  border-radius: 5px;
}
  
.container {
  max-width: 960px;
  padding: 1em 2em;
}

.img-wrapper {
  padding: 1em;
}

.card {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin: .25rem;
}

.card p {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
}

.container-char {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.container-char-meta {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
}

.container-char span {
  font-weight: bold;
  font-size: 1.3rem;
}

.author {
  margin: 0;
  color: white;
  font-size: 1.5rem;
}
.char-meta {
  font-weight: bold;
  color: #00E6E6;
}

.container-char-level-limit {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.level,
.limit {
  width: 150px;
  height: 13px;
  background-color: #565656;
  box-shadow: 1px 1px 1px black; 
  border: 0.06rem solid white;
}

.level-bar,
.limit-bar {
  height: 0.688rem;
}

.level-bar {
  width: 50%;
  background-image: linear-gradient(#EB9A9A, #B26363);
}

.limit-bar {
  width: 50%;
  background-color: aliceblue;
}

.level-text {
  margin: 0;
}

.hp-bar,
.mp-bar
{
  height: 0.188rem;
  width: 6.25rem;
  background-color: black;
}

.hp-bar {
  background-image: linear-gradient(#0689F2, #B1BCC1);
}

.mp-bar {
  background-image: linear-gradient(#0AE479, #B1BCC1);
}

.parent-container-mp,
.parent-container-hp {
  display: flex;
  justify-content: space-between;
}

.container-mp,
.container-hp {
  text-align: right;
}

.character-details {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

@media (max-width:470px) {
  img {
    height: 10rem;
  }
  .background-container {
    /* width: 90vw; */
    /* height: 100vh; */
  }

  .img-wrapper {
    margin: 0 auto;
  }

  .character.container {
    display: flex;
    flex-direction: column;
  }

  .character-details {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  .parent-container-mp,
  .parent-container-hp {
    /* width: 60%; */
    padding: 0.3em;
  }

}

@media (min-width: 700px) {
  .bars {
    border: 1px solid #000;
    display: flex;
    gap: 10px;
  }
}
